body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 400px;
  align-items: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  min-width: 400px;
  max-width: 1000px;
}

.header-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 400px;
  max-width: 1000px;
}

.RecyclingPoints {
  width: 100%;
  height: 600px;
}

.lessons-list {
  display: flex;
  flex-direction: row;
}

.lesson {
  display: flex;
  margin: 15px;
  max-width: calc((1000px - 15px * 6) / 3);
  height: 350px;
}

.lesson:hover {
  background-color: rgb(181, 255, 149);
  transition: 300ms;
}

.navbar {
  border-top: 3px solid rgb(0, 77, 0);
  border-bottom: 3px solid rgb(0, 77, 0);
  background-color: rgb(124, 174, 0)
}

.pagination {
  margin-left: auto;
  margin-right: auto;
}

.link {
  color: white
}

.link-dropdown {
  color:black
}

.link:hover {
  text-decoration: none;
  color: rgb(0, 77, 0);
}

.nav-link::after {
  color: white
}

.navbar-toggler {
  background-color: rgb(0, 77, 0);
}

.footer {
  position: fixed;
  bottom: 0px;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  background-color: rgb(124, 174, 0);
  color: white;
  text-align: center;
}